button{
    background: radial-gradient(circle at center, #ffffff, #0000ff);
}
h1{
    background-color: blue;
}
.secondary{
    background: linear-gradient(red , green, blue);
}
.tertiary{
    background: linear-gradient(rgb(127,0,54), rgb(0,54,127), rgb(0,205,127));
}
#box{
    border-radius: 50px;
    border-color: black;
    background: teal;
}
body{
    text-align: center;
    margin: 20px;
}